@import "./_variables.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(207,207,207,1) 0%, rgba(140,140,153,1) 100%);

}

.card{
border:none !important;
}

header {
    position: sticky;
    top: 0;
    z-index: 500;
}

main {
  flex-grow: 1;
}

.custom-font {
  font-family: 'Bebas Neue', cursive;
}

img{
  margin:2px;
}

#lg img {
// min-height: 25vh;
// max-height: 25vh;
// min-width: 25vw;
// max-width: 25vw;
}
#md img {
// min-height: 15vh;
// max-height: 15vh;
// min-width: 20vw;
// max-width: 20vw;
}
#sm img {
// min-height: 10vh;
// max-height: 10vh;
// min-width: 15vw;
// max-width: 15vw;
}

#featured{
  text-decoration: underline;
}

.bg-img {
  background-image: url(http://thiscatdoesnotexist.com);
  // background-image: cover;  
//   max-height: auto;
//   min-height: 35vh;
}